@{
    ViewBag.Title = "InfoAccount";
}

@section css{
    <link rel="stylesheet" href="~/Content/vendor/toastr/css/toastr.min.css">
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Profile</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">User Profile</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="~/Content/images/profile/17.jpg" alt="User profile picture">
                        </div>

                        <h3 class="profile-username text-center" id="TextName">Name</h3>

                        <p class="text-muted text-center" id="RoleName">Role</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Email</b> <a class="float-right" id="TextEmail"></a>
                            </li>
                            <li class="list-group-item">
                                <b>Phone</b> <a class="float-right" id="TextPhone"></a>
                            </li>
                            <li class="list-group-item">
                                <b>Status</b> <a class="float-right" id="TextStatus"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Update information</h4>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <form class="form-horizontal" id="formData">
                            <div class="form-group row">
                                <label for="Name" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Name" placeholder="Name" name="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="Email" placeholder="Email" name="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputName2" class="col-sm-2 col-form-label">Phone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="Phone" placeholder="Phone" name="Phone">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Birthday" class="col-sm-2 col-form-label">Birthday</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="Birthday" name="Birthday" value="1970-01-01">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="NumberId" class="col-sm-2 col-form-label">Number Id</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="NumberID" name="NumberID" placeholder="Number Id">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Address" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="Address" placeholder="Address" name="Address"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" id="btnUpdate" class="btn btn-warning">Update</button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section scripts{
    <script src="~/Content/vendor/toastr/js/toastr.min.js"></script>
    <script>
        $.validator.addMethod("minAge", function (value, element, min) {
            if (this.optional(element)) {
                return true;
            }
            var today = new Date();
            var birthDate = new Date(value);
            var age = today.getFullYear() - birthDate.getFullYear();
            return age >= min;
        }, "You are not old enough!");
        var accounts = {
            load: function () {
                $.ajax({
                    type: "GET",
                    url: "/Home/InfoAccountData",
                    success: function (response) {
                        $("#Name").val(response.data.Name);
                        $("#Email").val(response.data.Email);
                        $("#Phone").val(response.data.Phone);
                        $("#Birthday").val(response.data.Birthday);
                        $("#NumberID").val(response.data.NumberID);
                        $("#Address").val(response.data.Address);
                        $("#TextName").html(response.data.Name);
                        $("#TextEmail").html(response.data.Email);
                        $("#TextPhone").html(response.data.Phone);
                        $("#TextStatus").html(response.data.StatusName);
                        $("#RoleName").html(response.data.RoleName);
                    }
                })
            },
            put: function (user) {
                $.ajax({
                    type: "POST",
                    url: "/Home/UpdateInfo",
                    data: user,
                    success: function (res) {
                        console.log(res);
                        if (res.statusCode == 400) {
                            validator.showErrors(res.data);
                            toastr.error("Update failed!", "Notification", {
                                positionClass: "toast-top-center",
                                timeOut: 5e3,
                                closeButton: !0,
                                debug: !1,
                                newestOnTop: !0,
                                progressBar: !0,
                                preventDuplicates: !0,
                                onclick: null,
                                showDuration: "300",
                                hideDuration: "1000",
                                extendedTimeOut: "1000",
                                showEasing: "swing",
                                hideEasing: "linear",
                                showMethod: "fadeIn",
                                hideMethod: "fadeOut",
                                tapToDismiss: !1
                            })
                        } else if (res.statusCode == 200) {
                            toastr.success("Update sucessfully!", "Notification", {
                                positionClass: "toast-top-center",
                                timeOut: 5e3,
                                closeButton: !0,
                                debug: !1,
                                newestOnTop: !0,
                                progressBar: !0,
                                preventDuplicates: !0,
                                onclick: null,
                                showDuration: "300",
                                hideDuration: "1000",
                                extendedTimeOut: "1000",
                                showEasing: "swing",
                                hideEasing: "linear",
                                showMethod: "fadeIn",
                                hideMethod: "fadeOut",
                                tapToDismiss: !1
                            })
                            accounts.load();
                        }
                    }
                })
            }
        }
        $(function () {
            accounts.load();
        })

        var validator = $("#formData").validate({
            rules: {
                Name: {
                    required: true,
                },
                Email: {
                    required: true,
                    email: true,
                },
                Birthday: {
                    minAge: 18,
                }
            },
            messages: {
                Birthday: {
                    minAge: "Your age must be greater than 18"
                }
            },
            submitHandler: function (form) {
                var user = {
                    Name: $("#Name").val(),
                    Email: $("#Email").val(),
                    Phone: $("#Phone").val(),
                    Birthday: $("#Birthday").val(),
                    NumberID: $("#NumberID").val(),
                    Address: $("#Address").val(),
                }
                console.log(user);
                accounts.put(user);
            }
        });

    </script>
}