@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en" class="h-100">


<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vora | Page Login</title>
    <meta name="description" content="Some description for the page" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon.png">
    <link href="~/Content/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>

<body class="h-100" style="height: 100%!important">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h2 class="text-center mb-4 text-white text-uppercase">Sign in your account</h2>
                                    <form method="post" id="formData" novalidate="novalidate">
                                        <div class="form-group">
                                            <label class="mb-1 text-white">Email</label>
                                            <input type="email" name="Email" id="Email" class="form-control" value="admin@gmail.com" aria-describedby="Email-error" aria-invalid="true" placeholder="Enter your email">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1 text-white">Password</label>
                                            <input type="password" id="Password" name="Password" class="form-control valid" value="123456" aria-describedby="Password-error" aria-invalid="false" placeholder="Enter your password" aria-hidden="true">
                                        </div>
                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                            <div class="form-group">
                                                <a class="text-white" href="#/" id="forget">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="text-center text-white">
                                            <button type="submit" class="btn btn-block btn-pill btn-outline-light btn-rounded" id="btnLogin">Sign Me In</button>
                                            <button type="button" class="btn btn-block btn-pill btn-outline-light btn-rounded justify-content-center align-items-center" id="loading" style="display: none">
                                                Loading
                                                <span class="ml-2 spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p class="text-white">Don't have an account? <a class="text-white" href="@Url.Action("Register", "Home")">Sign up</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/vendor/global/global.min.js" type="text/javascript"></script>
    <script src="~/Content/vendor/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/Content/js/custom.js" type="text/javascript"></script>
    <script src="~/Content/js/dlabnav-init.js" type="text/javascript"></script>
    <script src="~/Content/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script>
        let validator = $("#formData").validate({
            rules: {
                Email: {
                    required: true,
                    email: true,
                },
                Password: {
                    required: true,
                    minlength: 6,
                }
            },
            ignore: [],
            errorClass: "invalid-feedback animated fadeInUp",
            errorElement: "div",
            errorPlacement: function (e, a) {
                jQuery(a).after(e)
            },
            highlight: function (e) {
                jQuery(e).closest(".form-group").removeClass("is-invalid").addClass("is-invalid")
            },
            success: function (e) {
                jQuery(e).closest(".form-group").removeClass("is-invalid").addClass("is-valid")
            },
            submitHandler: function (form) {
                $.ajax({
                    type: "POST",
                    url: "/Home/CheckLogin",
                    data: { Email: $("#Email").val(), Password: $("#Password").val() },
                    success: function (res) {
                        if (res.statusCode === 200) {
                            window.location.replace(`/${res.url}`);
                        } else {
                            $("#btnLogin").css('display', 'block');
                            $("#loading").css('display', 'none');
                            validator.showErrors(res.data);
                        }
                    },
                });
            }
        });
        $(function () {
            $(document).on("click", "#btnLogin", function () {
                $("#btnLogin").css('display', 'none');
                $("#loading").css('display', 'block');
            })

            $("#forget").click(function () {
                swal("Please contact admin to get new password");
            })
        })


    </script>
</body>
</html>