@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en" class="h-100">

<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vora | Page Login</title>
    <meta name="description" content="Some description for the page"/>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon.png">
    <link href="~/Content/css/style.css" rel="stylesheet">

</head>

<body class="h-100">
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-6">
                <div class="authincation-content">
                    <div class="row no-gutters">
                        <div class="col-xl-12">
                            <div class="auth-form">
                                <div class="text-center mb-3">
                                    <a href="index-2.html">
                                        <img src="~/Content/images/logo-full.png" alt="">
                                    </a>
                                </div>
                                <h4 class="text-center mb-4 text-white">Sign in your account</h4>
                                <form method="post" id="formData">
                                    <div class="form-group">
                                        <label class="mb-1 text-white">
                                            <strong>Email</strong>
                                        </label>
                                        <input type="email" name="Email" id="Email" class="form-control" value="admin@gmail.com">
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1 text-white">
                                            <strong>Password</strong>
                                        </label>
                                        <input type="password" id="Password" name="Password" class="form-control" value="123456">
                                    </div>
                                    <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox ml-1 text-white">
                                                <input type="checkbox" class="custom-control-input" id="basic_checkbox_1">
                                                <label class="custom-control-label" for="basic_checkbox_1">Remember my preference</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <a class="text-white" href="page-forgot-password.html">Forgot Password?</a>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn bg-white text-primary btn-block">Sign Me In</button>
                                    </div>
                                </form>
                                <div class="new-account mt-3">
                                    <p class="text-white">Don't have an account? <a class="text-white" href="@Url.Action("Register", "Home")">Sign up</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/vendor/global/global.min.js" type="text/javascript"></script>
<script src="~/Content/vendor/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="~/Content/js/custom.js" type="text/javascript"></script>
<script src="~/Content/js/dlabnav-init.js" type="text/javascript"></script>
<script src="~/Content/vendor/jquery-validation/jquery.validate.min.js"></script>
<script>
        var validator = $("#formData").validate({
            rules: {
                Email: {
                    required: true,
                    email: true,
                },
                Password: {
                    required: true,
                    minlength: 6,
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    type: "POST",
                    url: "/Home/CheckLogin",
                    data: { Email: $("#Email").val(), Password: $("#Password").val() },
                    success: function (res) {
                        if (res.statusCode == 400) {
                            validator.showErrors(res.data);
                        } else if (res.statusCode == 200) {
                            window.location.replace(`/${res.url}`);
                        }
                    },
                })
            }
        });
    </script>
</body>
</html>