
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Vora - Saas Bootstrap Admin Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon.png">
    <link href="~/Content/css/style.css" rel="stylesheet">

</head>

<body class="h-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="text-center mb-3">
                                        <a href="index.html"><img src="~/Content/images/logo-full.png" alt=""></a>
                                    </div>
                                    <h4 class="text-center mb-4 text-white">Sign up your account</h4>
                                    <form id="formData">
                                        <div class="form-group">
                                            <label class="mb-1 text-white"><strong>Username</strong></label>
                                            <input type="text" id="Name" name="Name" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1 text-white"><strong>Email</strong></label>
                                            <input type="email" id="Email" name="Email" class="form-control" placeholder="hello@example.com">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1 text-white"><strong>Password</strong></label>
                                            <input type="password" id="Password" name="Password" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1 text-white"><strong>Confirm Password</strong></label>
                                            <input type="password" id="RePassword" name="RePassword" class="form-control" placeholder="Confirm Password">
                                        </div>
                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn bg-white text-primary btn-block">Sign me up</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p class="text-white">Already have an account? <a class="text-white" href="@Url.Action("Login", "Home")">Sign in</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/Content/vendor/global/global.min.js" type="text/javascript"></script>
    <script src="~/Content/vendor/bootstrap-select/dist/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/Content/js/custom.js" type="text/javascript"></script>
    <script src="~/Content/js/dlabnav-init.js" type="text/javascript"></script>
    <script src="~/Content/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script>
        var validator = $("#formData").validate({
            rules: {
                Name: {
                    required: true,
                },
                Email: {
                    required: true,
                    email: true,
                },
                Password: {
                    required: true,
                    minlength: 6,
                },
                RePassword: {
                    required: true,
                    minlength: 6,
                    equalTo: "#Password",
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    type: "POST",
                    url: "/Home/CheckRegister",
                    data: {
                        Name: $("#Name").val(),
                        Email: $("#Email").val(),
                        Password: $("#Password").val(),
                        RePassword: $("#RePassword").val()
                    },
                    success: function (res) {
                        if (res.statusCode == 400) {
                            validator.showErrors(res.data);
                        } else if (res.statusCode == 200) {
                            window.location.replace(`/${res.url}`);
                        }
                    }
                })
            }
        });
    </script>
</body>
</html>