@using OnlineBanking.DAL
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (Accounts) Session["user"];
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Cheque Book</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Cheque Book</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
            
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Cheque Book</h3>
                <a href="#" class="btn btn-primary btn-sm mb-3 btn-add text-right" id="btnAddChequeBook">Create new cheque book</a>
            </div>
            <div class="card-body">
                <div class="form-horizontal">
                    <table class="table table-hover" id="datatables">
                        <thead>
                        <tr>
                                <th>No</th>
                                <th>Code</th>
                                <th>User's Name</th>
                                <th>Status</th>
                                <th>Cheques Used</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
@section Scripts
{
    <script>
        //Cheque Book
        var managerChequeBook = {
            put: function (id) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("PutData", "ChequeBooks")",
                    data: {id : id},
                    success: function (res) {
                        if (res.statusCode === 200) {
                            $('#datatables').DataTable().ajax.reload();
                            notifySuccess("Success", res.data);
                        }else{
                            notifyError("Error", res.data);
                        }
                    }

                })
            },
            post: function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("PostData", "ChequeBooks")",
                    success: function (res) {
                        if (res.statusCode === 200) {
                            $('#datatables').DataTable().ajax.reload();
                            notifySuccess("Success", 'Created Successfully')
                        }
                    }

                })
            },
            delete: function (id) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteData", "ChequeBooks")",
                    data: {id : id},
                    success: function (res) {
                        if (res.statusCode === 200) {
                            $('#datatables').DataTable().ajax.reload();
                            notifySuccess("Success", res.data);
                        }else{
                            notifyError("Error", res.data);
                        }
                    }

                })
            },
        }

        $(function () {
            $('#datatables').DataTable({
            "paging": true,
            "ordering": true,
            "autoWidth": false,
            "responsive": true,
            "processing": true,
            "filter": true,
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "ajax": {
                'url': '@Url.Action("GetAccountData", "ChequeBooks")',
            },
            "order": [
                [0, 'desc']
            ],
            "columns": [
                {
                    data: 'ChequeBookId',
                    className: 'align-middle text-center'
                },
                {
                    data: 'Code',
                    className: 'align-middle',
                },
                {
                    data: 'AccountName',
                    className: 'align-middle',
                },
                {
                    render: function (data, type, row) {
                        if (row.Status === 0){
                            return '<span class="badge light badge-success"><i class="fa fa-circle text-success mr-1"></i>'+row.StatusName+'</span>';
                        }else {
                            return '<span class="badge light badge-danger"><i class="fa fa-circle text-danger mr-1"></i>'+row.StatusName+'</span>';
                        }
                    },
                    className: 'align-middle text-center',
                    "searchable": false,
                    "orderable": false,
                },
                {
                    data: 'ChequesUsed',
                    className: 'align-middle text-center',
                    "orderable": false
                },
                {
                    data: 'ChequeBookId',
                    "render": function (data, type, row) {
                        let toggle = row.Status === 0 ? "Close book" : "Open book";
                        return '<div class="dropdown custom-dropdown mb-0"><div class="btn sharp btn-primary tp-btn" data-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg></div><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(40px, 41px, 0px);"><a data-id="' + row.ChequeBookId + '" class="dropdown-item text-info btn-detail-2" href="javascript:void(0);">Details</a><a data-id="' + row.ChequeBookId + '" class="dropdown-item text-warning btn-toggle" href="javascript:void(0);">' + toggle + '</a><a data-id="' + row.ChequeBookId + '" class="dropdown-item text-danger btn-delete" href="javascript:void(0);">Delete</a></div></div>'

                    }
                },
            ]
        });

            $(document).on("click", ".btn-detail-2", function () {
                let bookId = $(this).data("id");
                window.location.assign("Cheques/?ChequeBookId=" + bookId);
            })

            $(document).on("click", ".btn-toggle", function () {
                let bookId = $(this).data("id");
                managerChequeBook.put(bookId);
            })

            $(document).on("click", ".btn-delete", function () {
                let bookId = $(this).data("id");
                managerChequeBook.delete(bookId);
            })

            $(document).on("click", "#btnAddChequeBook", function () {
                managerChequeBook.post();
            })
        })
    </script>
}
