@model IEnumerable<OnlineBanking.DAL.Channels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section breadcrumb {
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Channels")">Messages</a></li>
        </ol>
    </div>
}

<!--begin-->
<div class="row">
    <div class="col-md-3">
        <a href="compose.html" class="btn btn-primary btn-block mb-3">Compose</a>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Folders</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item active" id="list-online">
                        <a href="#" class="nav-link">
                            <i class="fas fa-inbox"></i> Inbox
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Inbox</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" placeholder="Search message" name="key" id="key" aria-controls="">
                        <div class="input-group-append">
                            <div class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table table-hover" id="datatables">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>User Name</th>
                            <th>Last Message</th>
                            <th>Last Updated</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbl_channel"></tbody>

                </table>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <ul class="pagination" id="pagination">
                    <li class=" page-item active"><a href="javascript:void(0)" class="item-page page-link">${i}</a></li>
                </ul>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->


    <div class="card direct-chat chat-popup direct-chat-primary" style="display: none;">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h3 class="card-title">
                Direct Chat
                <span data-toggle="tooltip" title="3 New Messages" class="badge badge-warning">3</span>
            </h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" style="display: block;">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages" id="discussion">
            </div>
            <!--/.direct-chat-messages-->
        </div>
        <!-- /.card-body -->
        <div class="card-footer" style="display: block;">
            <form action="#" method="post" id="chat" onsubmit="return false;">
                <div class="input-group">
                    <input type="hidden" id="channel" name="channel" value="0">
                    <input type="text" id="message" name="message" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-append">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </span>
                </div>
            </form>
        </div>
        <!-- /.card-footer-->
    </div>
</div>
<!--end-->
}