@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/vendor/select2/css/select2.min.css">
}


<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Cheque Book Management</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="#" class="btn btn-primary mb-3 btn-add" data-toggle="modal" data-target="myModal">Create New Cheque Book</a>
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Cheque Book Management</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display table-responsive-lg min-w850 dataTable no-footer" id="datatables" role="grid" aria-describedby="example4_info">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Code</th>
                                <th>User's Name</th>
                                <th>Status</th>
                                <th>Cheques Used</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_chequeBook"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create New Cheque Book</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="Id" id="Id" value="" />
                <input type="hidden" name="type" id="type" value="CREATE" />
                <form method="post" id="Form">
                    <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-username">
                            Account
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-8">
                            <select class="form-control select2" id="AccountId" name="AccountId">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success toastrDefaultSuccess" id="btnSave">Save</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@section AdminlteJs{
    <!-- DataTables  & Plugins -->
    <script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
}
@section scripts{
    <script src="~/Content/vendor/select2/js/select22.full.min.js"></script>
    <script>
        function loadStatus(status = null) {
            $.ajax({
                type: "GET",
                url: "/Admin/ChequeBooks/GetStatus",
                success: function (res) {
                    console.log(res)
                    var html;
                    $.each(res, function (key, value) {
                        html += "<option value = '" + key + "' " + ((parseInt(status)) == key ? 'selected' : '') + ">" + value + " </option>";
                    });
                    $('#Status').html(html);
                }
            })
        }

        function loadAccount(account = null) {
            $.ajax({
                type: "GET",
                url: "/Admin/Accounts/GetData",
                success: function (res) {
                    var html;
                    for (var i = 0; i < res.data.length; i++) {
                        html += "<option value = '" + res.data[i].AccountId + "' " + ((parseInt(status)) == res.data[i].AccountId ? 'selected' : '') + "> #" + res.data[i].AccountId + " - " + res.data[i].Name + " </option>";
                    }
                    $("#AccountId").html(html);
                }
            })
        }

        var managerChequeBook = {
            get: function (id) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/ChequeBooks/FindId",
                    data: { id: id },
                    success: function (res) {
                        console.log(res);
                    }
                })
            },
            put: function (chequeBook) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/ChequeBooks/Edit",
                    data: chequeBook,
                    success: function (res) {
                        if (res.statusCode == 200) {
                            $('#datatables').DataTable().ajax.reload();
                            $("#myModal").modal("hide");
                            toastr.success('Updated Successfully')
                        }
                    }

                })
            },
            post: function (chequeBook) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/ChequeBooks/Create",
                    data: chequeBook,
                    success: function (res) {
                        if (res.statusCode == 200) {
                            $('#datatables').DataTable().ajax.reload();
                            $("#myModal").modal("hide");
                            toastr.success('Created Successfully')
                        }
                    }

                })
            }
        }
        $(function () {
            $(".select2").select2();
            $('#datatables').DataTable({
                "paging": true,
                "ordering": true,
                "autoWidth": false,
                "responsive": true,
                "processing": true,
                "filter": true,
                "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
                "ajax": "/Admin/ChequeBooks/GetData",
                "order": [
                    [0, 'asc']
                ],
                "columns": [
                    {
                        data: 'ChequeBookId',
                        className: 'align-middle text-center'
                    },
                    {
                        data: 'Code',
                        className: 'align-middle',
                    },
                    {
                        data: 'AccountName',
                        className: 'align-middle',
                    },

                    {
                        data: 'StatusName',
                        className: 'align-middle text-center',
                        "orderable": false,
                    },
                    {
                        data: 'ChequesUsed',
                        className: 'align-middle text-center',
                        "orderable": false
                    },
                    {
                        data: 'ChequeBookId',
                        "render": function (data, type, row) {
                            return '<div class="dropdown custom-dropdown mb-0"><div class="btn sharp btn-primary tp-btn" data-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg></div><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(40px, 41px, 0px);"><a data-id="' + row.ChequeBookId + '" class="dropdown-item btn-detail" href="javascript:void(0);">Details</a><a data-id="' + row.ChequeBookId + '" class="dropdown-item btn-edit" href="javascript:void(0);">Edit</a></div></div>'
                        }
                    },
                ]
            })

            $(document).on("click", ".btn-add", function () {
                $(".modal-title").html("Create Cheque Book");
                loadAccount();
                $("#Form").trigger("reset");
                $("#myModal").modal("show");
            })

            $(document).on("click", ".btn-detail", function () {
                let chequeBookId = $(this).data("id");
                window.location.assign("/Admin/ChequeBooks/Cheques/" + chequeBookId)
            })

            $(document).on("click", "#btnSave", function () {
                var chequeBook = {
                    AccountId: $("#AccountId").val(),
                }
                if ($("#type").val() == "EDIT") {
                    chequeBook.AccountId = $("#Id").val();
                    managerChequeBook.put(chequeBook);
                } else {
                    managerChequeBook.post(chequeBook);
                }
            })

            $('.toggle').bootstrapToggle()
        })

    </script>
}