@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/vendor/select2/css/select2.min.css">
}


<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Cheque Book Management</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Cheque Book Management</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display table-responsive-lg min-w850 dataTable no-footer" id="datatables" role="grid" aria-describedby="example4_info">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Code</th>
                                <th>User's Name</th>
                                <th>Status</th>
                                <th>Cheques Used</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_chequeBook"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section AdminlteJs{
    <script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
}
@section scripts{
    <script>
        //Cheque Book
        var managerChequeBook = {
            get: function (id) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/ChequeBooks/FindId",
                    data: { id: id },
                    success: function (res) {
                        console.log(res);
                    }
                })
            },
            put: function (id) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("PutData", "ChequeBooks")",
                    data: {id : id},
                    success: function (res) {
                        if (res.statusCode === 200) {
                            $('#datatables').DataTable().ajax.reload();
                            notifySuccess("Success", res.data);
                        }else{
                            notifyError("Error", res.data);
                        }
                    }

                })
            },
            post: function (chequeBook) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("PostData", "ChequeBooks")",
                    data: chequeBook,
                    success: function (res) {
                        if (res.statusCode === 200) {
                            $('#datatables').DataTable().ajax.reload();
                            notifySuccess("Success", 'Created Successfully')
                        }
                    }

                })
            },
            delete: function (id) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteData", "ChequeBooks")",
                    data: {id : id},
                    success: function (res) {
                        if (res.statusCode === 200) {
                            $('#datatables').DataTable().ajax.reload();
                            notifySuccess("Success", res.data);
                        }else{
                            notifyError("Error", res.data);
                        }
                    }

                })
            },
        }

        $(function () {
            $('#datatables').DataTable({
            "paging": true,
            "ordering": true,
            "autoWidth": false,
            "responsive": true,
            "processing": true,
            "filter": true,
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "ajax": {
                'url': '@Url.Action("GetData", "ChequeBooks")',
            },
            "order": [
                [0, 'asc']
            ],
            "columns": [
                {
                    data: 'ChequeBookId',
                    className: 'align-middle text-center'
                },
                {
                    data: 'Code',
                    className: 'align-middle',
                },
                {
                    data: 'AccountName',
                    className: 'align-middle',
                },
                {
                    render: function (data, type, row) {
                        if (row.Status === 0){
                            return '<span class="badge light badge-success"><i class="fa fa-circle text-success mr-1"></i>'+row.StatusName+'</span>';
                        }else {
                            return '<span class="badge light badge-danger"><i class="fa fa-circle text-danger mr-1"></i>'+row.StatusName+'</span>';
                        }
                    },
                    className: 'align-middle text-center',
                    "searchable": false,
                    "orderable": false,
                },
                {
                    data: 'ChequesUsed',
                    className: 'align-middle text-center',
                    "orderable": false
                },
                {
                    data: 'ChequeBookId',
                    "render": function (data, type, row) {
                        let toggle = row.Status === 0 ? "Close book" : "Open book";
                        return '<div class="dropdown custom-dropdown mb-0"><div class="btn sharp btn-primary tp-btn" data-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg></div><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(40px, 41px, 0px);"><a data-id="' + row.ChequeBookId + '" data-account="' + row.AccountId + '" class="dropdown-item btn-detail-2" href="javascript:void(0);">Details</a><a data-id="' + row.ChequeBookId + '" class="dropdown-item btn-toggle" href="javascript:void(0);">' + toggle + '</a><a data-id="' + row.ChequeBookId + '" class="dropdown-item text-danger btn-delete" href="javascript:void(0);">Delete</a></div></div>'

                    }
                },
            ]
        });

            $(document).on("click", ".btn-detail-2", function () {
                let bookId = $(this).data("id");
                let accountId = $(this).data("account");
                window.location.assign("/Admin/Cheques/?ChequeBookId=" + bookId + "&AccountId=" + accountId);
            })

            $(document).on("click", ".btn-toggle", function () {
                let bookId = $(this).data("id");
                managerChequeBook.put(bookId);
            })

            $(document).on("click", ".btn-delete", function () {
                let bookId = $(this).data("id");
                managerChequeBook.delete(bookId);
            })
        })
    </script>
}