USE master
go

IF EXISTS(select * from sys.databases where name='OnlineBanking')
DROP DATABASE OnlineBanking
go

CREATE DATABASE OnlineBanking
GO

USE [OnlineBanking]
GO

/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: Thứ Năm 26 08 2021 11:42:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: Thứ Năm 26 08 2021 11:42:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Birthday] [datetime] NULL,
	[Status] [int] NULL,
	[RoleId] [int] NOT NULL,
	[NumberId] [nvarchar](24) NOT NULL,
	[AttemptLogin] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccounts]    Script Date: Thứ Năm 26 08 2021 11:42:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccounts](
	[BankAccountId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[CurrencyId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Balance] [float] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.BankAccounts] PRIMARY KEY CLUSTERED 
(
	[BankAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Channels]    Script Date: Thứ Năm 26 08 2021 11:42:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Channels](
	[ChannelId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Channels] PRIMARY KEY CLUSTERED 
(
	[ChannelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChequeBooks]    Script Date: Thứ Năm 26 08 2021 11:42:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChequeBooks](
	[ChequeBookId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[AccountId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.ChequeBooks] PRIMARY KEY CLUSTERED 
(
	[ChequeBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cheques]    Script Date: Thứ Năm 26 08 2021 11:42:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cheques](
	[ChequeId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[NumberId] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Amount] [real] NOT NULL,
	[FromBankAccountId] [int] NOT NULL,
	[ChequeBookId] [int] NOT NULL,
	[ToBankAccountId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Cheques] PRIMARY KEY CLUSTERED 
(
	[ChequeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: Thứ Năm 26 08 2021 11:42:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[CurrencyId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Currencies] PRIMARY KEY CLUSTERED 
(
	[CurrencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: Thứ Năm 26 08 2021 11:42:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[ChannelId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: Thứ Năm 26 08 2021 11:42:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[PkType] [int] NOT NULL,
	[PkId] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: Thứ Năm 26 08 2021 11:42:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionDetails]    Script Date: Thứ Năm 26 08 2021 11:42:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetails](
	[TransactionDetailId] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [int] NOT NULL,
	[BankAccountId] [int] NOT NULL,
	[Balance] [float] NOT NULL,
	[Type] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.TransactionDetails] PRIMARY KEY CLUSTERED 
(
	[TransactionDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: Thứ Năm 26 08 2021 11:42:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[Messages] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [Name], [Email], [Password], [Phone], [Address], [Birthday], [Status], [RoleId], [NumberId], [AttemptLogin], [CreatedAt], [UpdatedAt]) VALUES (1, N'Administrator', N'admin@gmail.com', N'$2a$12$O0VLKHf393.lvyAKj4CEDOswlmWioQ5mAgqwDUZF5mdlWgW0RWtRO', N'0973086596', N'Hà nội', CAST(N'1996-07-12T00:00:00.000' AS DateTime), 0, 1, N'253425284', 0, CAST(N'2021-07-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T23:42:11.277' AS DateTime))
INSERT [dbo].[Accounts] ([AccountId], [Name], [Email], [Password], [Phone], [Address], [Birthday], [Status], [RoleId], [NumberId], [AttemptLogin], [CreatedAt], [UpdatedAt]) VALUES (2, N'Đồng Gia Phúc', N'support@gmail.com', N'$2a$12$oSGAAy/skDhXadcEO8PN3.4j7ar2WzHU0lZsCscabXpijHu9UiKvO', N'0973086594', N'Hà nội', CAST(N'1994-02-12T00:00:00.000' AS DateTime), 0, 2, N'131153077', 0, CAST(N'2021-07-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T20:45:01.557' AS DateTime))
INSERT [dbo].[Accounts] ([AccountId], [Name], [Email], [Password], [Phone], [Address], [Birthday], [Status], [RoleId], [NumberId], [AttemptLogin], [CreatedAt], [UpdatedAt]) VALUES (3, N'Đăng Việt Hải', N'support2@gmail.com', N'$2a$12$oSGAAy/skDhXadcEO8PN3.4j7ar2WzHU0lZsCscabXpijHu9UiKvO', N'0973086593', N'Hà nội', CAST(N'1994-03-12T00:00:00.000' AS DateTime), 0, 2, N'102735117', 0, CAST(N'2021-07-26T00:00:00.000' AS DateTime), CAST(N'2021-08-26T20:42:26.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[BankAccounts] ON 

INSERT [dbo].[BankAccounts] ([BankAccountId], [AccountId], [CurrencyId], [Name], [Balance], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 1, N'452485127', 999799991, 0, CAST(N'2021-08-26T15:39:01.043' AS DateTime), CAST(N'2021-08-26T23:40:15.150' AS DateTime))
INSERT [dbo].[BankAccounts] ([BankAccountId], [AccountId], [CurrencyId], [Name], [Balance], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, 1, 2, N'893483582', 999899998, 0, CAST(N'2021-08-26T15:39:21.600' AS DateTime), CAST(N'2021-08-26T23:39:03.127' AS DateTime))
INSERT [dbo].[BankAccounts] ([BankAccountId], [AccountId], [CurrencyId], [Name], [Balance], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, 1, 3, N'359481430', 999999957, 0, CAST(N'2021-08-26T15:39:53.337' AS DateTime), CAST(N'2021-08-26T19:58:42.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[BankAccounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Channels] ON 

INSERT [dbo].[Channels] ([ChannelId], [UserId], [CreatedAt], [UpdatedAt]) VALUES (1, 4, CAST(N'2021-08-26T16:47:23.077' AS DateTime), CAST(N'2021-08-26T16:47:23.077' AS DateTime))
INSERT [dbo].[Channels] ([ChannelId], [UserId], [CreatedAt], [UpdatedAt]) VALUES (2, 5, CAST(N'2021-08-26T16:47:26.233' AS DateTime), CAST(N'2021-08-26T16:47:26.233' AS DateTime))
INSERT [dbo].[Channels] ([ChannelId], [UserId], [CreatedAt], [UpdatedAt]) VALUES (1002, 1027, CAST(N'2021-08-26T23:04:46.200' AS DateTime), CAST(N'2021-08-26T23:04:46.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[Channels] OFF
GO
SET IDENTITY_INSERT [dbo].[ChequeBooks] ON 

INSERT [dbo].[ChequeBooks] ([ChequeBookId], [Code], [AccountId], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'JZTTKE36AJZON5OK', 1, 0, CAST(N'2021-08-26T15:42:50.563' AS DateTime), CAST(N'2021-08-26T15:42:50.563' AS DateTime))
INSERT [dbo].[ChequeBooks] ([ChequeBookId], [Code], [AccountId], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, N'TMPFGKJVLQJIJF00', 5, 0, CAST(N'2021-08-26T16:22:57.190' AS DateTime), CAST(N'2021-08-26T16:22:57.190' AS DateTime))
INSERT [dbo].[ChequeBooks] ([ChequeBookId], [Code], [AccountId], [Status], [CreatedAt], [UpdatedAt]) VALUES (4, N'THZEPEQ8VRR3Q4J3', 5, 0, CAST(N'2021-08-26T16:23:00.620' AS DateTime), CAST(N'2021-08-26T16:23:00.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChequeBooks] OFF
GO
SET IDENTITY_INSERT [dbo].[Cheques] ON 

INSERT [dbo].[Cheques] ([ChequeId], [Code], [NumberId], [Status], [Amount], [FromBankAccountId], [ChequeBookId], [ToBankAccountId], [CreatedAt], [UpdatedAt]) VALUES (1, N'YPSSSB6AVX20ZOLU', NULL, 0, 2, 4, 5, NULL, CAST(N'2021-08-26T19:34:28.220' AS DateTime), CAST(N'2021-08-26T19:34:28.220' AS DateTime))
INSERT [dbo].[Cheques] ([ChequeId], [Code], [NumberId], [Status], [Amount], [FromBankAccountId], [ChequeBookId], [ToBankAccountId], [CreatedAt], [UpdatedAt]) VALUES (2, N'A438ICYN0PBI4IT6', N'1231231231', 1, 11, 4, 5, 4, CAST(N'2021-08-26T19:35:31.157' AS DateTime), CAST(N'2021-08-26T19:36:10.223' AS DateTime))
INSERT [dbo].[Cheques] ([ChequeId], [Code], [NumberId], [Status], [Amount], [FromBankAccountId], [ChequeBookId], [ToBankAccountId], [CreatedAt], [UpdatedAt]) VALUES (3, N'MIGASJTSZQKYO7YO', NULL, 0, 99, 4, 1003, NULL, CAST(N'2021-08-26T19:42:55.540' AS DateTime), CAST(N'2021-08-26T19:42:55.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cheques] OFF
GO
SET IDENTITY_INSERT [dbo].[Currencies] ON 

INSERT [dbo].[Currencies] ([CurrencyId], [Name], [Status]) VALUES (1, N'VND', 0)
INSERT [dbo].[Currencies] ([CurrencyId], [Name], [Status]) VALUES (2, N'USD', 0)
INSERT [dbo].[Currencies] ([CurrencyId], [Name], [Status]) VALUES (3, N'EUR', 0)
SET IDENTITY_INSERT [dbo].[Currencies] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageId], [ChannelId], [AccountId], [Content], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 4, N'Hello', CAST(N'2021-08-26T19:22:56.423' AS DateTime), CAST(N'2021-08-26T19:22:56.423' AS DateTime))
INSERT [dbo].[Messages] ([MessageId], [ChannelId], [AccountId], [Content], [CreatedAt], [UpdatedAt]) VALUES (2, 1, 4, N'Can you help me', CAST(N'2021-08-26T19:23:04.010' AS DateTime), CAST(N'2021-08-26T19:23:04.010' AS DateTime))
INSERT [dbo].[Messages] ([MessageId], [ChannelId], [AccountId], [Content], [CreatedAt], [UpdatedAt]) VALUES (3, 1, 4, N'123123', CAST(N'2021-08-26T19:28:18.493' AS DateTime), CAST(N'2021-08-26T19:28:18.493' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationId], [AccountId], [Content], [Status], [PkType], [PkId], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'Your account balance -100000, available balance: 999900000', 1, 0, 1, CAST(N'2021-08-26T16:40:16.467' AS DateTime), CAST(N'2021-08-26T16:40:16.467' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationId], [AccountId], [Content], [Status], [PkType], [PkId], [CreatedAt], [UpdatedAt]) VALUES (2, 4, N'Your account balance +100000, available balance: 100000', 1, 0, 2, CAST(N'2021-08-26T16:40:16.467' AS DateTime), CAST(N'2021-08-26T16:40:16.467' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationId], [AccountId], [Content], [Status], [PkType], [PkId], [CreatedAt], [UpdatedAt]) VALUES (3, 1, N'Your account balance -100000, available balance: 999800000', 1, 0, 3, CAST(N'2021-08-26T16:40:18.047' AS DateTime), CAST(N'2021-08-26T16:40:18.047' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name], [Status]) VALUES (1, N'Admin', 0)
INSERT [dbo].[Roles] ([RoleId], [Name], [Status]) VALUES (2, N'Support', 0)
INSERT [dbo].[Roles] ([RoleId], [Name], [Status]) VALUES (3, N'User', 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionDetails] ON 

INSERT [dbo].[TransactionDetails] ([TransactionDetailId], [TransactionId], [BankAccountId], [Balance], [Type], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 1, 999900000, 1, 1, CAST(N'2021-08-26T16:40:16.417' AS DateTime), CAST(N'2021-08-26T16:40:16.417' AS DateTime))
INSERT [dbo].[TransactionDetails] ([TransactionDetailId], [TransactionId], [BankAccountId], [Balance], [Type], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, 1, 4, 100000, 0, 1, CAST(N'2021-08-26T16:40:16.417' AS DateTime), CAST(N'2021-08-26T16:40:16.417' AS DateTime))
INSERT [dbo].[TransactionDetails] ([TransactionDetailId], [TransactionId], [BankAccountId], [Balance], [Type], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, 2, 1, 999800000, 1, 1, CAST(N'2021-08-26T16:40:18.020' AS DateTime), CAST(N'2021-08-26T16:40:18.020' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TransactionDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionId], [Status], [Amount], [Messages], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 100000, N'Transfer from Admin to 126786065', CAST(N'2021-08-26T16:40:16.417' AS DateTime), CAST(N'2021-08-26T16:40:16.417' AS DateTime))
INSERT [dbo].[Transactions] ([TransactionId], [Status], [Amount], [Messages], [CreatedAt], [UpdatedAt]) VALUES (2, 1, 100000, N'Transfer from Admin to 126786065', CAST(N'2021-08-26T16:40:18.020' AS DateTime), CAST(N'2021-08-26T16:40:18.020' AS DateTime))
INSERT [dbo].[Transactions] ([TransactionId], [Status], [Amount], [Messages], [CreatedAt], [UpdatedAt]) VALUES (3, 1, 100000, N'Transfer from Admin to 69809250', CAST(N'2021-08-26T16:40:50.597' AS DateTime), CAST(N'2021-08-26T16:40:50.597' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Accounts_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_dbo.Accounts_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[BankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BankAccounts_dbo.Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BankAccounts] CHECK CONSTRAINT [FK_dbo.BankAccounts_dbo.Accounts_AccountId]
GO
ALTER TABLE [dbo].[BankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BankAccounts_dbo.Currencies_CurrencyId] FOREIGN KEY([CurrencyId])
REFERENCES [dbo].[Currencies] ([CurrencyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BankAccounts] CHECK CONSTRAINT [FK_dbo.BankAccounts_dbo.Currencies_CurrencyId]
GO
ALTER TABLE [dbo].[Channels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Channels_dbo.Accounts_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Accounts] ([AccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Channels] CHECK CONSTRAINT [FK_dbo.Channels_dbo.Accounts_UserId]
GO
ALTER TABLE [dbo].[ChequeBooks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChequeBooks_dbo.Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChequeBooks] CHECK CONSTRAINT [FK_dbo.ChequeBooks_dbo.Accounts_AccountId]
GO
ALTER TABLE [dbo].[Cheques]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cheques_dbo.BankAccounts_FromBankAccountId] FOREIGN KEY([FromBankAccountId])
REFERENCES [dbo].[BankAccounts] ([BankAccountId])
GO
ALTER TABLE [dbo].[Cheques] CHECK CONSTRAINT [FK_dbo.Cheques_dbo.BankAccounts_FromBankAccountId]
GO
ALTER TABLE [dbo].[Cheques]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cheques_dbo.BankAccounts_ToBankAccountId] FOREIGN KEY([ToBankAccountId])
REFERENCES [dbo].[BankAccounts] ([BankAccountId])
GO
ALTER TABLE [dbo].[Cheques] CHECK CONSTRAINT [FK_dbo.Cheques_dbo.BankAccounts_ToBankAccountId]
GO
ALTER TABLE [dbo].[Cheques]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cheques_dbo.ChequeBooks_ChequeBookId] FOREIGN KEY([ChequeBookId])
REFERENCES [dbo].[ChequeBooks] ([ChequeBookId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cheques] CHECK CONSTRAINT [FK_dbo.Cheques_dbo.ChequeBooks_ChequeBookId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Messages_dbo.Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_dbo.Messages_dbo.Accounts_AccountId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Messages_dbo.Channels_ChannelId] FOREIGN KEY([ChannelId])
REFERENCES [dbo].[Channels] ([ChannelId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_dbo.Messages_dbo.Channels_ChannelId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Notifications_dbo.Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_dbo.Notifications_dbo.Accounts_AccountId]
GO
ALTER TABLE [dbo].[TransactionDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TransactionDetails_dbo.BankAccounts_BankAccountId] FOREIGN KEY([BankAccountId])
REFERENCES [dbo].[BankAccounts] ([BankAccountId])
GO
ALTER TABLE [dbo].[TransactionDetails] CHECK CONSTRAINT [FK_dbo.TransactionDetails_dbo.BankAccounts_BankAccountId]
GO
ALTER TABLE [dbo].[TransactionDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TransactionDetails_dbo.Transactions_TransactionId] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transactions] ([TransactionId])
GO
ALTER TABLE [dbo].[TransactionDetails] CHECK CONSTRAINT [FK_dbo.TransactionDetails_dbo.Transactions_TransactionId]
GO
