@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Currencies Management </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Currencies Management</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-md-12">
            <button class="btn btn-primary mb-3" id="btn-add">Create new Currency</button>

            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Currencies Management</h3>
                </div>
                <div class="card-body">
                    <table class="table table-hover" id="datatables">
                        <thead>
                            <tr>
                                <th>CurrencyId</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_currency"></tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- Default box -->
        <!-- /.card -->

    </section>
    <!-- /.content -->
    <div class="modal fade" id="modifyModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create new Currency</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="Id" id="Id" value="" />
                    <input type="hidden" name="type" id="type" value="CREATE" />
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" value="" placeholder="Name..."/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success toastrDefaultSuccess" id="btnSave">Save</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script>
        var currencyManager = {
            load: function (page = 1, key = null) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/Currencies/GetData",
                    data: { page: page, key: key },
                    success: function (res) {
                        let _html = "";
                        for (let item of res.data) {
                            _html += `<tr>
                                        <td>${(item.CurrencyId) == null ? "" : item.CurrencyId}</td>
                                         <td>${(item.Name) == null ? "" : item.Name}</td>
                                        <td class="btn-group"><button data-toggle="modal" data-target="#modifyModal" data-id="${item.CurrencyId}" class='btn btn-warning btn-edit'>Edit</button><button data-id="${item.CurrencyId}" class='btn btn-danger btn-delete'>Detele</button></td>
                                     </tr>`
                        }
                        $('#tbl_currency').html(_html);
                        var pages = '';
                        for (var i = 1; i <= res.totalPages; i++) {
                            if (i == res.currentPage) {
                                pages += `<li class=" page-item active"><a href="javascript:void(0)" class="item-page page-link">${i}</a></li>`;
                            } else {
                                pages += `<li class="page-item"><a href="javascript:void(0)" class="item-page page-link">${i}</a></li>`;
                            }
                        }
                        $(".pagination").html(pages);
                    }
                });
            },
            post: function (currency) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Currencies/PostData",
                    data: currency,
                    success: function (res) {
                        if (res.statusCode == 200) {
                            $("#modifyModal").modal("hide");
                            currencyManager.load();
                        }
                    }

                })
            },
            put: function (currency) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Currencies/PutData",
                    data: currency,
                    success: function (res) {
                        $("#modifyModal").modal("hide");
                        currencyManager.load();
                    }
                })
            },
            get: function (id) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/Currencies/FindId",
                    data: { id: id },
                    success: function (res) {
                        $("#Name").val(res.Name);
                        $("#modifyModal").modal("show");
                    }
                })
            },
            delete: function (id) {
                $.ajax({
                    type: "GET",
                    url: `/Admin/Currencies/Delete/${id}`,
                    success: function (res) {
                        currencyManager.load();
                        toastr.success('Delete Successfully');
                    }
                })
            }
        }

        $(function () {
            currencyManager.load();

            $("#btn-add").click(function () {
                $("#modifyModal").modal("show");
            });

            $("#btnSave").click(function () {
                var currency = {
                    Name: $("#Name").val(),
                }
                if ($("#type").val() == "EDIT") {
                    currency.CurrencyId = $("#Id").val(),
                        currencyManager.put(currency);
                } else {
                    currencyManager.post(currency);
                }
            });

            $(document).on("click", ".item-page", function () {
                let page = $(this).text();
                let key = $("#key").val();
                currencyManager.load(page, key);
            });

            $("#key").keyup(function () {
                let key = $("#key").val();
                currencyManager.load(1, key);
            });

            $(document).on("click", ".btn-edit", function () {
                $(".modal-title").html("Update Currency");
                $("#type").val("EDIT");
                let currencyId = $(this).data("id");
                $("#Id").val(currencyId);
                currencyManager.get(currencyId);
            });

            $(document).on("click", ".btn-delete", function () {
                let currencyId = $(this).data("id");
                currencyManager.delete(currencyId);
            })
        })

    </script>
}