@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cheque Monitor</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Cheque Monitor</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="col-md-12">
        <form method="post" id="formData">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Cheque</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="Code">Code</label>
                        <input type="text" name="Code" id="Code" class="form-control" placeholder="Code...">
                    </div>
                    <div class="form-group">
                        <label for="NumberId">Number Id</label>
                        <input type="text" class="form-control" id="NumberId" name="NumberId" placeholder="Number Id...">
                    </div>
                    <div class="form-group">
                        <label for="">Payment method</label>
                        <div id="PaymentMethod">
                            <label class="radio-inline mr-3">
                                <input type="radio" name="payment" value="cash" checked> Cash
                            </label>
                            <label class="radio-inline mr-3">
                                <input type="radio" name="payment" value="bank-account"> Bank Account Transfer
                            </label>
                        </div>
                        <div class="form-group destination-account mt-2" style="display: none">
                            <label for="ToBankAccountId">Bank Account Destination</label>
                            <input type="text" name="ToBankAccountName" id="ToBankAccountName" class="form-control" placeholder="Bank Account Destination...">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success toastrDefaultSuccess" id="btnSave">Save</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Reset</button>
                </div>
            </div>
        </form>
    </div>
</section>

@section scripts{
    <script >
    const validator = $("#formData").validate({
        rules: {
            "Code": {
                required: true
            },
            "NumberId":{
                required: true,
                minlength: 10,
            },
        },
        ignore: [],
        errorClass: "invalid-feedback animated fadeInUp",
        errorElement: "div",
        errorPlacement: function (e, a) {
            jQuery(a).after(e)
        },
        highlight: function (e) {
            jQuery(e).closest(".form-group").removeClass("is-invalid").addClass("is-invalid")
        },
        success: function (e) {
            jQuery(e).closest(".form-group").removeClass("is-invalid").addClass("is-valid")
        },
        submitHandler: function () {
            const obj = {
                Code: $("#Code").val(), 
                NumberId: $("#NumberId").val(),
                PaymentMethod: $("input[name='payment']:checked").val(), 
                ToBankAccountName: $("#ToBankAccountName").val(),
            };
           chequeManager.post(obj);
        }
    });
    
    const chequeManager = {
        post: function (obj){
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChequeExec", "Cheques")",
                data: obj, 
                success: function (res){
                    if (res.statusCode === 400){
                        validator.showErrors(res.data);
                    }else{
                        toastr.success(res.data);
                        $("#formData").trigger("reset");
                    }
                }
            })
        },
    }
    
    $(function(){
        $("input:radio[name='payment']").change(function() {
          if ($(this).val() === "bank-account"){
              $(".destination-account").show();
          }else{
              $(".destination-account").hide();
              $("#ToBankAccountId").val("");
          }
        })
    })
    </script>
}