@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
}


<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Cheque Management</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="#" class="btn btn-primary mb-3 btn-add">Create New Cheque</a>
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Cheque Book Management</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display table-responsive-lg min-w850 dataTable no-footer" id="datatables" role="grid" aria-describedby="example4_info">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Code</th>
                                <th>User's Name</th>
                                <th>Status</th>
                                <th>Cheques</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbl_chequebook"></tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Infomation Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="Id" id="Id" value="" />
                <input type="hidden" name="type" id="type" value="CREATE" />
                <form method="post" id="Form">
                    <div class="form-group">
                        <label for="exampleInputName">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name...">
                        <span class="error text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Email</label>
                        <input type="text" class="form-control" id="Email" placeholder="Email...">
                        <span class="error text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Password</label>
                        <input type="text" class="form-control" id="Password" placeholder="Password...">
                        <span class="error text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Phone</label>
                        <input type="text" class="form-control" id="Phone" placeholder="Phone...">
                        <span class="error text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputClass">Address</label>
                        <input type="text" class="form-control" id="Address" placeholder="Address...">
                        <span class="error text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="exampleInputAge">Birthday</label>
                                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                    <input type="date" class="form-control" id="Birthday" name="Birthday" value="1970-01-01">
                                </div>
                            </div>
                            <span class="error text-danger"></span>
                            <div class="col-md-6">
                                <label for="exampleInputClass">NumberID</label>
                                <input type="text" class="form-control" id="NumberID" placeholder="NumberID...">
                                <span class="error text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="exampleInputClass">Role</label>
                                <select class="form-control" id="RoleId" name="RoleId">
                                </select>
                                <span class="error text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="exampleInputClass">Status</label>
                                <select class="form-control" id="Status" name="Status">
                                </select>
                                <span class="error text-danger"></span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success toastrDefaultSuccess" id="btnSave">Save</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@section AdminlteJs{
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <script src="~/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- DataTables  & Plugins -->

    <script src="~/Content/vendor/datatables/js/jquery.dataTables.min.js"></script>
}
@section scripts{

    <script>
        function loadStatus(status = null) {
            $.ajax({
                type: "GET",
                url: "/Admin/Accounts/GetStatus",
                success: function (res) {
                    console.log(res)
                    var html;
                    $.each(res, function (key, value) {
                        html += "<option value = '" + key + "' " + ((parseInt(status)) == key ? 'selected' : '') + ">" + value + " </option>";
                    });
                    $('#Status').html(html);
                }
            })
        }
        function loadRole(roleId = null) {
            $.ajax({
                type: "GET",
                url: "/Admin/Accounts/GetRole",
                success: function (res) {
                    console.log(res)
                    var html;
                    $.each(res, function (key, value) {
                        html += "<option value = '" + value.RoleId + "' " + (roleId == value.RoleId ? 'selected' : '') + ">" + value.Name + " </option>";
                    });
                    $('#RoleId').html(html);
                }
            })
        }

        var managerAcc = {
            load: function (page = 1, key = null) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/Accounts/GetData",
                    data: { page: page, key: key },
                    success: function (res) {
                        let _html = "";
                        var ii = 1;
                        for (let item of res.data) {

                            _html += `<tr>
                                                    <td>${ii}</td>
                                                    <td>${(item.Name) == null ? "" : item.Name}</td>
                                                    <td>${(item.Email) == null ? "" : item.Email}</td>
                                                    <td>${(item.RoleName) == null ? "" : item.RoleName}</td>
                                                    <td>${(item.StatusName) == null ? "" : item.StatusName}</td>
                                                    <td class="btn-group"><button data-id="${item.AccountId}" class='btn btn-primary btn-detail'>Detail</button><button data-id="${item.AccountId}" class='btn btn-warning btn-edit'>Edit</button><button data-id="${item.AccountId}" class='btn btn-danger'>Detele</button></td>
                                                </tr>`
                            ii++;
                        }
                        $('#tbl_user').html(_html);
                        var pages = '';
                        for (var i = 1; i <= res.totalPages; i++) {
                            if (i == res.currentPage) {
                                pages += `<li class=" page-item active"><a href="javascript:void(0)" class="item-page page-link">${i}</a></li>`;
                            } else {
                                pages += `<li class="page-item"><a href="javascript:void(0)" class="item-page page-link">${i}</a></li>`;
                            }
                        }
                        $(".pagination").html(pages);
                    }
                });
            },
            get: function (id) {
                $.ajax({
                    type: "GET",
                    url: "/Admin/Accounts/FindId",
                    data: { id: id },
                    success: function (res) {
                        console.log(res);
                        $("#Id").val(res.AccountId);
                        $("#Name").val(res.Name);
                        $("#Email").val(res.Email);
                        $("#Password").val(res.Password);
                        $("#Phone").val(res.Phone);
                        $("#Address").val(res.Address);
                        $("#Birthday").val((res.Birthday));
                        $("#NumberID").val(res.NumberID);
                        loadRole(res.RoleId);
                        loadStatus(res.Status);
                        $("#myModal").modal("show");
                    }
                })
            },
            put: function (user) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Accounts/Edit",
                    data: user,
                    success: function (res) {
                        if (res.statusCode == 200) {
                            $("#myModal").modal("hide");
                            managerAcc.load();
                            toastr.success('Updated Successfully')
                        }
                    }

                })
            },
            post: function (user) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/Accounts/Create",
                    data: user,
                    success: function (res) {
                        if (res.statusCode == 200) {
                            $("#myModal").modal("hide");
                            managerAcc.load();
                            toastr.success('Created Successfully')
                        }
                    }

                })
            }
        }
        $(function () {

            //managerAcc.load();

            $('#datatables').DataTable({
                "paging": true,
                "ordering": true,
                "autoWidth": false,
                "responsive": true,
                "processing": true,
                "filter": true,
                "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
                "ajax": "/Admin/Accounts/GetData",
                "order": [
                    [0, 'asc']
                ],
                "columns": [
                    {
                        data: 'AccountId',
                        className: 'align-middle text-center'
                    },
                    {
                        data: 'Name',
                        className: 'align-middle',
                    },
                    {
                        data: 'Email',
                        className: 'align-middle',
                    },
                    {
                        data: 'RoleName',
                        className: 'align-middle',
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        data: 'StatusName',
                        className: 'align-middle text-center',
                        "searchable": false,
                        "orderable": false
                    },
                    {
                        data: 'AccountId',
                        "render": function (data, type, row) {
                            return '<div class="dropdown custom-dropdown mb-0"><div class="btn sharp btn-primary tp-btn" data-toggle="dropdown" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="12" cy="5" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="19" r="2"></circle></g></svg></div><div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(40px, 41px, 0px);"><a data-id="' + row.AccountId + '" class="dropdown-item btn-detail" href="javascript:void(0);">Details</a><a data-id=" '+ row.AccountId +' " class="dropdown-item btn-edit" href="javascript:void(0);">Edit</a><a  data-id=" '+ row.AccountId + '" class="dropdown-item text-danger btn-delete" href="javascript:void(0);">Delete</a></div></div>'
                             }
                    },
                ]
            })

            $(document).on("click", ".btn-edit", function () {
                $("#type").val("EDIT");
                let userId = $(this).data("id");
                let a = managerAcc.get(userId);
            })

            $(document).on("click", ".btn-add", function () {
                loadRole(1);
                loadStatus(1);
                $(".modal-title").html("Create Account");
                $("#Form").trigger("reset");
                $("#myModal").modal("show");
            })
            $(document).on("click", ".btn-detail", function () {
                let userId = $(this).data("id");
                window.location.assign("/Admin/Accounts/ProfileAccount/" + userId)
            })

            $(document).on("click", "#btnSave", function () {
                var today = new Date();
                var user = {
                    Name: $("#Name").val(),
                    Email: $("#Email").val(),
                    Password: $("#Password").val(),
                    Birthday: $("#Birthday").val(),
                    Address: $("#Address").val(),
                    Phone: $("#Phone").val(),
                    NumberID: $("#NumberID").val(),
                    RoleId: $("#RoleId").val(),
                    Address: $("#Address").val(),
                    Status: parseInt(($("#Status").val()))
                }
                if ($("#type").val() == "EDIT") {
                    user.UpdatedAt = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                    user.AccountId = $("#Id").val();
                    managerAcc.put(user);
                } else {
                    user.CreatedAt = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                    managerAcc.post(user);
                }
            })
            $("#key").keyup(function () {
                let key = $("#key").val();
                managerAcc.load(1, key);
            })

            $(document).on("click", ".item-page", function () {
                let page = $(this).text();
                let key = $("#key").val();
                managerAcc.load(page, key);
            })

            $('#reservationdate').datetimepicker({
                format: 'DD/MM/yyyy'
            });
        })

    </script>
}