@model OnlineBanking.DAL.BankAccounts
@{
    ViewBag.Title = "ProfileAccountNumber";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section customCss {
    <link rel="stylesheet" href="~/Content/vendor/bootstrap-daterangepicker/daterangepicker.css">
    <style>
        .dt-buttons {
            float: right;
        }
        .dataTables_wrapper .dataTables_filter {
            float: left;
        }
    </style>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile Account Number</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Profile Account Number</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Total Transactions AccountNumber: @Model.Name</h3>
                        <div class="example">
                            <p class="mb-1">Date Range Pick</p>
                            <div id="daterange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                            @* <button class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="example" type="button"><span>Excel</span></button> *@
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="display table-responsive-lg min-w850 dataTable no-footer" id="datatables" role="grid" aria-describedby="example4_info">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>CreatedAt</th>
                                    <th>Messages</th>
                                    <th>Amount </th>
                                    <th>Banlanced </th>
                                    <th>Status </th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Infomation Account</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="Id" id="Id" value=""/>
                <input type="hidden" name="type" id="type" value="CREATE"/>
                <form method="post" id="Form">
                    <div class="form-group">
                        <label for="exampleInputName">Source Account</label>
                        <select class="form-control" id="FromId" placeholder="Account Number...">
                            <option value="" selected>Choose here</option>
                        </select>
                        <span class="text-dark font-weight-bold" id="text1">Balance: </span>
                        <span class="text-danger font-weight-bold" id="infoSource"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Receiver Infomation </label>
                        <input type="text" class="form-control" id="ToId" placeholder="Receiver Account...">
                        <input type="hidden" class="form-control" id="BankId">
                        <span class="text-dark font-weight-bold" id="text2">Name: </span>
                        <span class="text-danger font-weight-bold" id="infoReceiver"></span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">Amount </label>
                        <input type="text" class="form-control" id="Amount" placeholder="Amount...">
                        <span class="text-danger font-weight-bold"></span>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success toastrDefaultSuccess" id="btnSave">Save</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
            </div>

        </div>

    </div>
</div>

@section scripts{                                 
    
    <script src="~/Content/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/js/pdfmake.min.js"></script> 
    <script src="~/Content/js/jszip.min.js"></script> 
    <script src="~/Content/js/buttons.html5.min.js"></script>
    <script src="~/Content/vendor/moment/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/js/plugins-init/bs-daterange-picker-init.js"></script>
    <script>

        $(function () {
            let buttonCommon = {
                    exportOptions: {
                        format: {
                            body: function ( data, row, column, node ) {
                                // Strip $ from salary column to make it numeric
                                return column === 5 ?
                                    data.replace( /[$,]/g, '' ) :
                                    data;
                            }
                        }
                    }};
            let startDate;
            let endDate;

            let datatables = $('#datatables').DataTable({
                "paging": true,
                "ordering": true,
                "autoWidth": false,
                "responsive": true,
                "processing": true,
                "filter": true,
                "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
                "ajax": {
                    url: "/Admin/Transactions/GetData",
                    data: function (d) {
                        d.fromId = @Model.BankAccountId;
                        d.startDate = startDate;
                        d.endDate = endDate;
                    },
                },
                "order": [
                    [1, 'desc']
                ],
                "columns": [
                    {
                        data: 'TransactionDetailId',
                        className: 'align-middle text-center'
                    },
                    {
                        data: 'CreatedAt',
                        className: 'align-middle',
                    },
                    {
                        data: 'Messages',
                        className: 'align-middle',
                    },
                    {
                        data: { Amount: 'Amount', Type: 'Type', Currency: "Currency" },
                        render: function (data) {
                            let fromId = $("#fromId").val();
                            return (data.Amount) == null ? "" : ((data.Type ? " - " : " + ") + new Intl.NumberFormat('vi-VN', { style: 'currency', currency: data.Currency }).format(data.Amount));
                        },
                        className: 'align-middle',
                    },
                    {
                        data: { FromId: 'FromId', BalancedFrom: "BalancedFrom", BalancedTo: "BalancedTo", Currency: "Currency" },
                        render: function (data) {
                            let fromId = $("#fromId").val();
                            return data.Type ? new Intl.NumberFormat("vi-VN", { style: "currency", currency: data.Currency }).format(data.BalancedFrom) : new Intl.NumberFormat("vi-VN", { style: "currency", currency: data.Currency }).format(data.BalancedTo);
                                    },
                                    className: 'align-middle',
                                    "searchable": false,
                                    "orderable": false
                                },
                                {
                                    data: {StatusName:'StatusName'},
                                    render: function (data) {
                                        return '<span class="badge light badge-success"><i class="fa fa-circle text-success mr-1"></i>'+data.StatusName+'</span>';
                                    },
                                    className: 'align-middle text-center',
                                    "searchable": false,
                                    "orderable": false
                                },

                            ],
                             dom: 'Bfrtip',
                             dom: 'Bfrtip',
                             buttons: [
                                 { extend: 'excel', className: 'btn btn-primary glyphicon glyphicon-list-alt' },
                                 { extend: 'pdf', className: 'btn btn-primary glyphicon glyphicon-list-alt' },
                             ]
                        });

            $('#daterange').on('apply.daterangepicker', function(ev, picker) {
                startDate = picker.startDate.format('YYYY-MM-DD');
                endDate = picker.endDate.format('YYYY-MM-DD');
              datatables.ajax.reload();
            });

            let start = moment().subtract(29, 'days');
            let end = moment();

            function cb(start, end) {
                $('#daterange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
            }

            $('#daterange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                   'Today': [moment(), moment()],
                   'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                   'This Month': [moment().startOf('month'), moment().endOf('month')],
                   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                   'This Year': [moment().subtract(1, 'month').startOf('year'), moment().subtract(1, 'month').endOf('year')]
                }
            }, cb);

            cb(start, end);
        })
    </script>
}