@model IEnumerable<OnlineBanking.DAL.Roles>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:void(0)">Home</a>
        </li>
        <li class="breadcrumb-item active">
            <a href="@Url.Action("Index", "Roles")">Roles</a>
        </li>
    </ol>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header align-middle">
                <h4 class="card-title">Roles Management</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatables" class="display min-w850">
                        <thead>
                        <tr>
                            <th>RoleId</th>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $('#datatables').DataTable({
                "paging": true,
                "ordering": true,
                "autoWidth": false,
                "responsive": true,
                "processing": true,
                "filter": true,
                "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
                "ajax": "@Url.Action("GetData", "Roles")",
                "order": [
                    [0, 'asc']
                ],
                "columns": [
                    {
                        data: 'RoleId',
                        className: 'align-middle',
                        "render": function (data, type, row) {
                            return `#${row.RoleId}`;
                        }
                    },
                    {
                        data: 'Name',
                        className: 'align-middle',
                    },
                    {
                        data: { StatusName: 'StatusName'},
                        render: function (data) {
                            return '<span class="badge light badge-success"><i class="fa fa-circle text-success mr-1"></i>' + data.StatusName + '</span>';
                        },
                        className: 'align-middle',
                    },
                ]
            });
        });
    </script>
}
